section {
    display: -webkit-flex;
    display: flex;  
    width: 100%;
  }
section nav{
  display: -webkit-flex;
  display: flex;  
}

nav {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background: #ccc;
  padding: 20px;
}

nav ul {
  list-style-type: none;
  padding: 0;
  width: 200px;
}

nav ul li:hover {
  background-color: black;
  color: lightgray;
  cursor: pointer;
}

.nav-hover {
  background-color: gray;
  color: lightgray;
}

article {
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
  background-color: #f1f1f1;
  padding: 10px;
}

.old-thesis-list p{
  width: 100%;
  text-align: center;
}

.old-thesis-list ul {
  list-style-type: none;
}

